
.nav{
  float: left;
  margin-top: 30px;
  width: 200px;
  line-height: 2;
  font-size: 16px;
  text-transform: capitalize;
  border-right: 1px solid #e8e8e8;
}


.main{
  float: left;
  margin-top: 10px;
  min-height: 800px;
  margin-left: 20px;
  width: calc(100% - 220px);
  margin-bottom: 50px;
}
