.spinner{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 1em;
  height: 1em;
  overflow: hidden;

  img{
    position: absolute;
    width: 200%;
    height: 200%;
    max-width: none;
    left: 50%;
    top: 50%;
    margin-top: -1em;
    margin-left: -1em;
  }
}
