.Login{
  padding: 20px 30px;
  overflow: auto;
  font-size: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.Button{
  width: 100%;
  line-height: 44px;
  background: #ff7745;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 30px;
  display: block;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.Error{
  padding-left: 30px;
  line-height: 3;
  color: #ff7745;
  font-size: 14px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAxlBMVEX/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0X/d0UAAAB55BV6AAAAQHRSTlMAL43O6OnQkzYGgfj7C7O+COLdlCz6Uz08j003o9FPOdnqTjjrM9PLwtuV8O2q/FQ+RNWgCsgOCZ4QQKHW2KZHh71gRwAAAAFiS0dEQYnebE4AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfhCwgTAC8WGVsJAAAAkElEQVQY00WP1xKCUAxE16uAYsHeGwr23rv8/1d5yaLuyznJJDMJoBNT8YRhWkkwKTsdSDIqK3Uu+MXJ64YtWigKSkC5IlatcaaOBqXZItvoULo9sg+XMhiSLrxoxSc9jCjjCTnFjDJfkEv4K5H1ho0toER2pmCvLz04/9OPp/CZs/WtL9fo39v9YbjP1zv0D8VmLb7Fz6aaAAAAAElFTkSuQmCC") 0 no-repeat;
}
.Register{
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 14px;
  color: #999;
  text-align: center;
}
.Wechat{
  font-size: 12px;
  color: #999;
  margin-top: 15px;
  text-align: center;
  img{
    margin-left: 10px;
    cursor: pointer;
  }
}
.Title{
  margin-bottom: 0;
  line-height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 22px;
  color: #333;
  margin-bottom: 16px;
  span{
    font-size: 14px;
    color: #999;
    float: right;
  }
}
.link{
  font-style: normal;
  color: #ff7745;
  cursor: pointer;
}
.resetPwdLink{
  position: absolute;
  right: 0;
  top: 0;
  line-height: 53px;
  width: 120px;
  text-align: center;
  cursor: pointer;
}
.Captcha{
  position: absolute;
  right: 5px;
  top: 8px;
  width: 100px;
  height: 34px;
  cursor: pointer;
}
.SmsCode{
  position: absolute;
  right: 0;
  top: 0;
  line-height: 54px;
  width: 100px;
  text-align: center;
  background: #f8f8f8;
  color: #999;
  transition: .3s;
  border: 0;
  cursor: pointer;
  border-left: 1px solid #ddd;
  &:hover{
    background: #ff7745;
    color: #fff;
  }
  &:focus{outline:none}
  &.disable{
    cursor:no-drop;
    &:hover{background: #f8f8f8;color: #999;}
  }
}
.resetSuccess{
  p{
    margin-bottom: 50px;
    padding-bottom: 140px;
    font-size: 18px;
    text-align: center;
    color: #ff7745;
    background: url(./img/success.png) bottom no-repeat;
  }
}
